.header_div-img{
    width: 100%;
}
.header {
    position: relative;
}
.header__info-div{
    position: absolute;
    top: 0;
    right: 0;
    // &__info-link{
    //     font-family: 'PlayfairDisplay';
    //     font-size: 18px;
    //     line-height: 21px;
    //     color: $whiteColor;
    // }
}
.header__info-link{
    font-family: 'PlayfairDisplay';
    font-size: 18px;
    line-height: 21px;
    color: $whiteColor;
    padding: 14px 91px 15px 90px;
    border: 5px solid $whiteColor;
}