header.header 
    .header__img 
        img(src="./images/Preview2.webp", alt="").header__div-img
        .container 
            .header__info-div
                a.header__info-link(href="") RESERVATION
